<!DOCTYPE html>
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/custom.css') }}"
/>
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<html>
    <head>
        <title>{% block title %}Your App{% endblock %}</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">App</a>
            <a class="navbar-brand" href="/logout">Logout</a>
            <a class="navbar-brand" href="/playlists">Playlists</a>
            <a class="navbar-brand" href="/profile">Profile</a>
            <a class="navbar-brand" href="/recommendations">Rwecommendations</a>
        </nav>
        <div class="container mt-4">{% block content %}{% endblock %}</div>
    </body>
</html>
