{% extends 'base.html' %} {% block title %}Your Page Title{% endblock %} {%
block content %}

<script src="/static/js/playlists.js"></script>
<script>
    if (performance.navigation.type == 2) {
        location.reload(true);
    }
</script>
<style>
    .card-spacing {
        margin-left: 20px;
    }
    .small-image {
        max-width: 45px;
        max-height: 45px;
    }
    .custom-thicc-border-right {
        border-right: 2px solid rgb(99, 97, 99); 
    }
</style>

<div class="container">
    <div class="row mb-4">
        <div class="col-md-12">
            <input
                type="text"
                id="playlistSearch"
                class="form-control"
                placeholder="Search playlists"
            />
        </div>
    </div>
    <div class="row">
        <div class="col-6 custom-thicc-border-right">
<h1>Playlists Spotify</h1>
{% if session.get("token_info_spotify") and spotify_playlists != None %}
<div class="input-group mb-4">
    <form id="createPlaylistForm"  class="form-inline my-2 my-lg-0">
        <input type="hidden" name="form_name" value="spotify" />
        <input
            type="text"
            class="form-control mr-sm-2"
            name="new_playlist_name"
            placeholder="New Playlist Name"
        />
        <button
            class="btn btn-primary my-2 my-sm-0"
            id="createPlaylistButton"
            onclick="createPlaylist('spotify', event)"
        >
            Create
        </button>
    </form>
</div>

<div class="row" id="spotifyPlaylistsContainer">
    {% for playlist in spotify_playlists %}
<div     class="col-6">

    <div id="playlistCard{{ playlist.id }}">
        <div class="card " style="width: 15rem">
            <a
                href="{{ url_for('view', playlist_id=playlist.id, platform='spotify', playlist_name=playlist.name) }}"
                style="text-decoration: none; color: black;"
                >
            <img
                src="{{ playlist.image_url }}"
                class="card-img-top"
                alt="..."
            />
            <div class="card-body">
                <p class="card-text">{{ playlist.name }}</p>
                <p class="card-text">Tracks: {{ playlist.number_of_tracks }}</p>
            </a>
            <div class="row">
                <div class="col-6">
                    <a
                    class="btn"
                    data-toggle="modal"
                    data-target="#deezerModal{{ playlist.id }}"
                >
                <img src="{{ url_for('static', filename='imgs/deezer_icon.png') }}" alt="Deezer Icon" class="img-fluid small-image" />
                </a>
                </div>
                <div class="col-6">
                    <a
                        class="btn"
                        href="{{ url_for('generate_token', playlist_id=playlist.id, playlist_name=playlist.name, platform='spotify') }}""
                    >
                    <img src="{{ url_for('static', filename='imgs/share.png') }}" alt="Share Icon" class="img-fluid small-image" />
                    </a>

                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a
            class="btn btn-danger btn-block" 
            onclick="confirmDelete('spotify', '{{ playlist.id }}')"
        >
            Unfollow
        </a>
                </div>
            </div>
        
        
        </div>
            
        </div>

        <div
            class="modal fade deezerModal"
            id="deezerModal{{ playlist.id }}"
            tabindex="-1"
            role="dialog"
            aria-labelledby="deezerModalLabel{{ playlist.id }}"
            aria-hidden="true"
        >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5
                            class="modal-title"
                            id="deezerModalLabel{{ playlist.id }}"
                        >
                            Transfer To Deezer
                        </h5>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input
                            type="text"
                            id="deezerInput{{ playlist.id }}"
                            class="form-control"
                            placeholder="Enter Deezer name"
                            value="{{ playlist.name }}"
                        />
                        <input
                            type="hidden"
                            id="playlistId"
                            value="{{ playlist.id }}"
                        />
                        <div
                            class="loading"
                            id="loading{{ playlist.id }}"
                            style="display: none"
                        >
                            Transfering...
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-primary"
                            id="proceedButton{{ playlist.id }}"
                            onclick="transferPlaylist('{{ playlist.id }}', document.getElementById('deezerInput{{ playlist.id }}').value, 'spotify', 'deezer')"
                        >
                            Proceed
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endfor %}
</div>
{% else %}
<div class="alert alert-warning" role="alert">No Spotify playlists found.</div>
<a href="{{ url_for('auth_spotify') }}" class="btn btn-primary"
    >Authorize Spotify</a
>
{% endif %}
</div>

<div class="col-6">
<h1>Playlists Deezer</h1>
{% if session.get("token_info_deezer") and deezer_playlists != None %}
<div class="input-group mb-4">
    <form id="createPlaylistDeezerForm" class="form-inline my-2 my-lg-0">
        <input type="hidden" name="form_name" value="deezer" />
        <input
            type="text"
            class="form-control mr-sm-2"
            name="new_playlist_name"
            id="new_playlist_name2"
            placeholder="New Playlist Name"
        />
        <button
            class="btn btn-primary my-2 my-sm-0"
            onclick="createPlaylist('deezer', event)"
        >
            Create
        </button>
    </form>
</div>

        
        <div class="row" id="deezerPlaylistsContainer">
        {% for playlist in deezer_playlists %}
        <div class="col-6">
        <div id="playlistCard{{ playlist.id }}">
            <div class="card" style="width: 15rem">
                <a href="{{ url_for('view', playlist_id=playlist.id, platform='deezer', playlist_name=playlist.name) }}" style="text-decoration: none; color: black;">
                <img
                    src="{{ playlist.image_url }}"
                    class="card-img-top"
                    alt="..."
                />
                <div class="card-body">
                    
                    <p class="card-text">{{ playlist.name }}</p>
                    <p class="card-text">
                        Tracks: {{ playlist.number_of_tracks }}
                    </p>
                </a>
                   
         
                        <div class="row">
                            <div class="col-6">
                                <a class="btn btn-block" data-toggle="modal" data-target="#spotifyModal{{ playlist.id }}"><img src="{{ url_for('static', filename='imgs/spotify_icon.png') }}" alt="Spotify Icon" class="img-fluid small-image" /></a>
                            </div>
                            <div class="col-6">
                                <a class="btn" href="{{ url_for('generate_token', playlist_id=playlist.id, playlist_name=playlist.name, platform='deezer') }}"><img src="{{ url_for('static', filename='imgs/share.png') }}" alt="Share Icon" class="img-fluid small-image" /></a>
                            </div>
                        </div>
                                
                        
                        
                        <div class="row">
                            <div class="col-12">
                                <a class="btn btn-danger btn-block"  onclick="confirmDelete('deezer', '{{ playlist.id }}')">Delete</a>
                            </div>
                        </div>
                
                </div>
                
            </div>
        

            <div
                class="modal fade spotifyModal"
                id="spotifyModal{{ playlist.id }}"
                tabindex="-1"
                role="dialog"
                aria-labelledby="spotifyModalLabel{{ playlist.id }}"
                aria-hidden="true"
            >
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5
                                class="modal-title"
                                id="spotifyModalLabel{{ playlist.id }}"
                            >
                                Transfer To Spotify
                            </h5>
                            <button
                                type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close"
                            >
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input
                                type="text"
                                id="spotifyInput{{ playlist.id }}"
                                class="form-control"
                                placeholder="Enter Spotify name"
                                value="{{ playlist.name }}"
                            />
                            <input
                                type="hidden"
                                id="playlistId"
                                value="{{ playlist.id }}"
                            />
                            <div
                                class="loading"
                                id="loading{{ playlist.id }}"
                                style="display: none"
                            >
                                Transfering...
                                <!-- You can replace this with a spinner or progress bar HTML -->
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button
                                type="button"
                                class="btn btn-primary"
                                id="proceedButton{{ playlist.id }}"
                                onclick="transferPlaylist('{{ playlist.id }}', document.getElementById('spotifyInput{{ playlist.id }}').value, 'deezer', 'spotify')"
                            >
                                Proceed
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        {% endfor %}
    </div>
    </div>

{% else %}
<div class="alert alert-warning" role="alert">No Deezer playlists found.</div>
<a href="{{ url_for('auth_deezer') }}" class="btn btn-primary"
    >Authorize Deezer</a
>
{% endif %}
</div>
</div>
</div>
 {% endblock %}
