{% extends 'base.html' %} {% block title %}Your Page Title{% endblock %} {%
block content %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="/static/js/playlistView.js"></script>

<div class="container">
    <input type="hidden" id="playlistId" value="{{ playlist_id }}" />
    <input type="hidden" id="platform" value="{{ platform }}" />
    <div class="row">
        <!-- Left Column -->
        <div class="col-md-6">
            <h2>{{ playlist_name }}</h2>
            <div id="playlistTracks">
                {% for track in tracks %}
                <div
                    class="card mb-3"
                    style="max-width: 540px"
                    id="{% if not track.uri %}trackCard{{ track.id }}{% else %}trackCard{{ track.uri }}{% endif %}"
                >
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img
                                src="{{ track.image_url }}"
                                class="img-fluid rounded-start"
                                alt="..."
                            />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ track.name }}</h5>
                                <p class="text-muted">
                                    Album: {{ track.album.name }}
                                </p>

                                <p class="card-text">
                                    {% for artist in track.artists %} {{
                                    artist.name }} {% if not loop.last %},{%
                                    endif %} {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <button
                        class="btn btn-danger remove-track-button"
                        data-track-id="{% if not track.uri %}{{ track.id }}{% else %}{{ track.uri }}{% endif %}"
                        onclick="removeTrackFromPlaylist('{{ track.uri if track.uri else track.id }}', '{{ playlist_id }}', '{{ platform }}')"
                    >
                        Remove
                    </button>
                </div>

                <!-- Close the row for each track -->
                {% endfor %}
            </div>
        </div>
        <!-- Right Column -->

        <div class="col-md-6">
            <!-- Search Bar -->
            <h3>Add new songs</h3>
            <div class="input-group mb-3">
                <input
                    type="text"
                    class="form-control"
                    name="searchBar"
                    id="searchBar"
                    placeholder="Search..."
                />
                <button class="btn btn-primary" onclick="searchTracks()">
                    Search
                </button>
            </div>

            <!-- Search Results -->
            <div id="searchResults">
                <!-- Search results will be added here -->
            </div>
        </div>
    </div>
</div>

{% endblock %}
