{% extends 'base.html' %} {% block title %}Your Page Title{% endblock %} {%
block content %}

<script src="/static/js/playlists.js"></script>
<script>
    /*
            it's been a while since this was posted but I found a more elegant solution if you are not needing to support old browsers.

                You can do a check with

                performance.navigation.type
                Documentation including browser support is here: https://developer.mozilla.org/en-US/docs/Web/API/Performance/navigation

                So to see if the page was loaded from history using back you can do

                if(performance.navigation.type == 2){
                location.reload(true);
                }
                The 2 indicates the page was accessed by navigating into the history. Other possibilities are-

                0:The page was accessed by following a link, a bookmark, a form submission, or a script, or by typing the URL in the address bar.

                1:The page was accessed by clicking the Reload button or via the Location.reload() method.

                255: Any other way

                These are detailed here: https://developer.mozilla.org/en-US/docs/Web/API/PerformanceNavigation
            */
    if (performance.navigation.type == 2) {
        location.reload(true);
    }
</script>

<h1>Playlists Spotify</h1>
{% if spotify_playlists != None %}
<div class="input-group">
    <form id="createPlaylistForm">
        <input type="hidden" name="form_name" value="spotify" />
        <input
            type="text"
            class="form-control"
            name="new_playlist_name"
            placeholder="New Playlist Name"
        />
        <button
            class="btn btn-primary"
            id="createPlaylistButton"
            onclick="createPlaylist('spotify', event)"
        >
            Create
        </button>
    </form>
</div>

<div class="row" id="spotifyPlaylistsContainer">
    {% for playlist in spotify_playlists %}

    <div class="col-md-4" id="playlistCard{{ playlist.id }}">
        <div class="card mb-4" style="width: 18rem">
            <img
                src="{{ playlist.image_url }}"
                class="card-img-top"
                alt="..."
            />
            <div class="card-body">
                <p class="card-text">{{ playlist.name }}</p>
            </div>
            <a
                href="{{ url_for('view', playlist_id=playlist.id, platform='spotify') }}"
                class="btn btn-primary stretched-link"
                >View</a
            >
        </div>
        <!-- <a
                href="{{ url_for('delete', platform='spotify', playlist_id=playlist.id) }}"
                class="btn btn-warning"
                >Unfollow</a
            > -->
        <a
            class="btn btn-warning"
            onclick="deletePlaylist('spotify', '{{ playlist.id }}')"
        >
            Unfollow
        </a>
        <a
            href="{{ url_for('transfer_to_deezer', playlist_id=playlist.id) }}"
            class="btn btn-warning"
            >Send to Deezer</a
        >
    </div>
    {% endfor %}
</div>
{% else %}
<div class="alert alert-warning" role="alert">No Spotify playlists found.</div>
<a href="{{ url_for('auth_spotify') }}" class="btn btn-primary"
    >Authorize Spotify</a
>
{% endif %}

<h1>Playlists Deezer</h1>
{% if deezer_playlists != None %}
<div class="input-group">
    <form id="createPlaylistDeezerForm">
        <input type="hidden" name="form_name" value="deezer" />
        <input
            type="text"
            class="form-control"
            name="new_playlist_name"
            id="new_playlist_name2"
            placeholder="New Playlist Name"
        />
        <button
            class="btn btn-primary"
            onclick="createPlaylist('deezer', event)"
        >
            Create
        </button>
    </form>
</div>

<ul>
    <div class="row" id="deezerPlaylistsContainer">
        {% for playlist in deezer_playlists %}
        <div class="col-md-4" id="playlistCard{{ playlist.id }}">
            <div class="card mb-4" style="width: 18rem">
                <img
                    src="{{ playlist.image_url }}"
                    class="card-img-top"
                    alt="..."
                />
                <div class="card-body">
                    <p class="card-text">{{ playlist.name }}</p>
                </div>
                <a
                    href="{{ url_for('view', playlist_id=playlist.id, platform='deezer') }}"
                    class="btn btn-primary stretched-link"
                    >View</a
                >
            </div>
            <a
                class="btn btn-warning"
                onclick="deletePlaylist('deezer', '{{ playlist.id }}')"
                >Delete</a
            >
        </div>
        {% endfor %}
    </div>
</ul>
{% else %}
<div class="alert alert-warning" role="alert">No Deezer playlists found.</div>
<a href="{{ url_for('auth_deezer') }}" class="btn btn-primary"
    >Authorize Deezer</a
>
{% endif %} {% endblock %}
