{% extends 'base.html' %} {% block title %}Your Page Title{% endblock %} {%
block content %}

<script src="/static/js/playlists.js"></script>
<script>
    // Get references to the modal and input elements

    /*
            it's been a while since this was posted but I found a more elegant solution if you are not needing to support old browsers.

                You can do a check with

                performance.navigation.type
                Documentation including browser support is here: https://developer.mozilla.org/en-US/docs/Web/API/Performance/navigation

                So to see if the page was loaded from history using back you can do

                if(performance.navigation.type == 2){
                location.reload(true);
                }
                The 2 indicates the page was accessed by navigating into the history. Other possibilities are-

                0:The page was accessed by following a link, a bookmark, a form submission, or a script, or by typing the URL in the address bar.

                1:The page was accessed by clicking the Reload button or via the Location.reload() method.

                255: Any other way

                These are detailed here: https://developer.mozilla.org/en-US/docs/Web/API/PerformanceNavigation
            */
    if (performance.navigation.type == 2) {
        location.reload(true);
    }
</script>

<h1>Playlists Spotify</h1>
{% if spotify_playlists != None %}
<div class="input-group">
    <form id="createPlaylistForm">
        <input type="hidden" name="form_name" value="spotify" />
        <input
            type="text"
            class="form-control"
            name="new_playlist_name"
            placeholder="New Playlist Name"
        />
        <button
            class="btn btn-primary"
            id="createPlaylistButton"
            onclick="createPlaylist('spotify', event)"
        >
            Create
        </button>
    </form>
</div>

<div class="row" id="spotifyPlaylistsContainer">
    {% for playlist in spotify_playlists %}

    <div class="col-md-4" id="playlistCard{{ playlist.id }}">
        <div class="card mb-4" style="width: 18rem">
            <img
                src="{{ playlist.image_url }}"
                class="card-img-top"
                alt="..."
            />
            <div class="card-body">
                <p class="card-text">{{ playlist.name }}</p>
                <p class="card-text">Tracks: {{ playlist.number_of_tracks }}</p>
            </div>
            <a
                href="{{ url_for('view', playlist_id=playlist.id, platform='spotify') }}"
                class="btn btn-primary stretched-link"
                >View</a
            >
        </div>
        <!-- <a
                href="{{ url_for('delete', platform='spotify', playlist_id=playlist.id) }}"
                class="btn btn-warning"
                >Unfollow</a
            > -->
        <a
            class="btn btn-warning"
            onclick="deletePlaylist('spotify', '{{ playlist.id }}')"
        >
            Unfollow
        </a>

        <!-- Button trigger modal -->
        <a
            class="btn btn-warning"
            data-toggle="modal"
            data-target="#deezerModal{{ playlist.id }}"
        >
            Transfer to Deezer
        </a>

        <div
            class="modal fade deezerModal"
            id="deezerModal{{ playlist.id }}"
            tabindex="-1"
            role="dialog"
            aria-labelledby="deezerModalLabel{{ playlist.id }}"
            aria-hidden="true"
        >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5
                            class="modal-title"
                            id="deezerModalLabel{{ playlist.id }}"
                        >
                            Transfer To Deezer
                        </h5>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input
                            type="text"
                            id="deezerInput{{ playlist.id }}"
                            class="form-control"
                            placeholder="Enter Deezer name"
                            value="{{ playlist.name }}"
                        />
                        <input
                            type="hidden"
                            id="playlistId"
                            value="{{ playlist.id }}"
                        />
                        <div
                            class="loading"
                            id="loading{{ playlist.id }}"
                            style="display: none"
                        >
                            Transfering...
                            <!-- You can replace this with a spinner or progress bar HTML -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- <button
                            type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal"
                        >
                            Cancel
                        </button> -->
                        <button
                            type="button"
                            class="btn btn-primary"
                            id="proceedButton{{ playlist.id }}"
                            onclick="transferSpotifyToDeezer('{{ playlist.id }}', document.getElementById('deezerInput{{ playlist.id }}').value)"
                        >
                            Proceed
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="alert alert-warning" role="alert">No Spotify playlists found.</div>
<a href="{{ url_for('auth_spotify') }}" class="btn btn-primary"
    >Authorize Spotify</a
>
{% endif %}

<h1>Playlists Deezer</h1>
{% if deezer_playlists != None %}
<div class="input-group">
    <form id="createPlaylistDeezerForm">
        <input type="hidden" name="form_name" value="deezer" />
        <input
            type="text"
            class="form-control"
            name="new_playlist_name"
            id="new_playlist_name2"
            placeholder="New Playlist Name"
        />
        <button
            class="btn btn-primary"
            onclick="createPlaylist('deezer', event)"
        >
            Create
        </button>
    </form>
</div>

<ul>
    <div class="row" id="deezerPlaylistsContainer">
        {% for playlist in deezer_playlists %}
        <div class="col-md-4" id="playlistCard{{ playlist.id }}">
            <div class="card mb-4" style="width: 18rem">
                <img
                    src="{{ playlist.image_url }}"
                    class="card-img-top"
                    alt="..."
                />
                <div class="card-body">
                    <p class="card-text">{{ playlist.name }}</p>
                    <p class="card-text">
                        Tracks: {{ playlist.number_of_tracks }}
                    </p>
                </div>
                <a
                    href="{{ url_for('view', playlist_id=playlist.id, platform='deezer') }}"
                    class="btn btn-primary stretched-link"
                    >View</a
                >
            </div>
            <a
                class="btn btn-warning"
                onclick="deletePlaylist('deezer', '{{ playlist.id }}')"
                >Delete</a
            >
            <a
                class="btn btn-warning"
                data-toggle="modal"
                data-target="#spotifyModal{{ playlist.id }}"
            >
                Transfer to Spotify
            </a>

            <div
                class="modal fade spotifyModal"
                id="spotifyModal{{ playlist.id }}"
                tabindex="-1"
                role="dialog"
                aria-labelledby="spotifyModalLabel{{ playlist.id }}"
                aria-hidden="true"
            >
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5
                                class="modal-title"
                                id="spotifyModalLabel{{ playlist.id }}"
                            >
                                Transfer To Spotify
                            </h5>
                            <button
                                type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close"
                            >
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input
                                type="text"
                                id="spotifyInput{{ playlist.id }}"
                                class="form-control"
                                placeholder="Enter Spotify name"
                                value="{{ playlist.name }}"
                            />
                            <input
                                type="hidden"
                                id="playlistId"
                                value="{{ playlist.id }}"
                            />
                            <div
                                class="loading"
                                id="loading{{ playlist.id }}"
                                style="display: none"
                            >
                                Transfering...
                                <!-- You can replace this with a spinner or progress bar HTML -->
                            </div>
                        </div>
                        <div class="modal-footer">
                            <!-- <button
                            type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal"
                        >
                            Cancel
                        </button> -->
                            <button
                                type="button"
                                class="btn btn-primary"
                                id="proceedButton{{ playlist.id }}"
                                onclick="transferDeezerToSpotify('{{ playlist.id }}', document.getElementById('spotifyInput{{ playlist.id }}').value)"
                            >
                                Proceed
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</ul>
{% else %}
<div class="alert alert-warning" role="alert">No Deezer playlists found.</div>
<a href="{{ url_for('auth_deezer') }}" class="btn btn-primary"
    >Authorize Deezer</a
>
{% endif %} {% endblock %}
