{% extends "base.html" %} {% block title %}Profile{% endblock %} {% block
content %}
<style>
    .leaderboard {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .leaderboard li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ccc;
        padding: 10px 0;
    }

    .position {
        width: 30px;
        font-weight: bold;
    }

    .artist-name {
        flex-grow: 1;
    }
    .score {
        font-weight: bold;
    }
    .title-container {
        text-align: center;
        padding: 20px 0;
        box-shadow: 0 4px 6px rgba(158, 128, 250, 0.763);
    }

    .title-container h1 {
        font-size: 36px;
        margin: 0;
    }

    .title-container p {
        font-size: 18px;
        margin-top: 10px;
    }
    .title-container h1::before,
    .title-container h1::after {
        content: "🎶";
        font-size: 48px;
        vertical-align: middle;
        margin: 0 10px;
    }
    .user-info {
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 4px 6px rgba(166, 2, 255, 0.763);
    }

    .user-info h1 {
        font-size: 36px;
        margin: 0;
    }

    .user-info h1::before {
        content: "👋";
        font-size: 48px;
        display: block;
    }
</style>

<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="user-info">
            <h1>Hey, {{ current_user.display_name }}</h1>
        </div>
    </div>

    <div class="col-4">
        <div class="title-container">
            <h3>🎤 Top 20 Artists Leaderboard 🎤</h3>
            <p>See who's rocking your charts!</p>
        </div>
        <ol class="leaderboard">
            {% for artist in artists %}
            <li>
                <span class="position">{{ loop.index }}</span>
                <span class="artist-name">{{ artist.name }}</span>
            </li>
            {% endfor %}
        </ol>
    </div>
    <div class="col-4">
        <div class="title-container">
            <h3>🎵 Top 5 Genres Leaderboard 🎵</h3>
            <p>See which genres are your favorites!</p>
        </div>
        <ol class="leaderboard">
            {% for genre, count in genres %}
            <li>
                <span class="position">{{ loop.index }}</span>
                <span class="artist-name">{{ genre }}</span>
                <span class="score">{{ count }}</span>
            </li>
            {% endfor %}
        </ol>
    </div>
</div>
{% endblock %}
