{% extends "base.html" %} {% block title %}Recommendations{% endblock %} {%
block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 text-center">
            <h1 class="display-4">🎧 Melodies Just for You 🎧</h1>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row justify-content-center">
        {% for track in recommended_tracks %}
        <div class="col-md-6 mb-3">
            <div class="card">
                {% if track.uri %}
                <a href="{{ track.uri }}" class="stretched-link"></a>
                {% else %}
                <a
                    href="https://www.deezer.com/track/{{ track.id }}"
                    class="stretched-link"
                ></a>
                {% endif %}
                <div class="row g-0">
                    <div class="col-md-4">
                        <img
                            src="{{ track.image_url }}"
                            class="img-fluid rounded-start"
                            alt="..."
                        />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ track.name }}</h5>
                            <p class="card-text">
                                {% for artist in track.artists %} {{ artist.name
                                }} {% if not loop.last %},{% endif %} {% endfor
                                %}
                            </p>
                            <p class="card-text">
                                <small class="text-muted"
                                    >{{ track.album.name }}</small
                                >
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
