{% extends "base.html" %} {% block title %}Login - Your App{% endblock %} {%
block content %}
<h1>Hello, {{ current_user.display_name }}</h1>
<div class="row justify-content-center">
    <div class="col-md-6">
        <h3>Recommended from Deezer</h3>
        {% for track in dz_tracks %}
        <p>{{ track.name }}</p>
        {% for artist in track.artists %}
        <p>{{ artist.name }}</p>
        {% endfor %} {% endfor %}
    </div>
    <div class="col-md-6">
        <h3>Recommended from Spotify</h3>
        {% for track in sp_tracks %}
        <p>{{ track.name }}</p>
        {% for artist in track.artists %}
        <p>{{ artist.name }}</p>
        {% endfor %} {% endfor %}
    </div>
    <!-- <div class="col-md-6">
        <h3>Top genres in Spotify</h3>
        {% for genre, count in genres %}
        <p>{{genre}}</p>
        {% endfor %}
    </div> -->
</div>
{% endblock %}
